<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sbjson-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC12323C1391D5CC00131607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1232511391D5CC00131607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC2626813920FC7003D9994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC2627213920FC7003D9994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
